#checkout-route {
    min-height: 90vh;

   #checkout-route-container {
        display: flex;

        ul.list-cart,
        div.sidebar {
            width: 50%;
            padding: $spacing_sm;
            margin: $spacing_md;
        }

        ul.list-cart li {
            width: 100%;       
            display: flex;
            margin-bottom: $spacing_md;
            background-color: white;
            border-radius: $radius;
            padding: $spacing_lg;
            list-style-type: none;
            transition: transform 250ms ease-in-out,
                        box-shadow 250ms ease-in-out;
            
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 10px 10px -5px;
            }

            img {
                width: 150px;
                height: 150px;
                transition: transform 250ms ease-in-out;
            }

            div.cart-item-meta {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                div.cart-item-metatop {
                    h2 {
                        color: $color_primary;
                        font-size: 1.25rem;
                    }
                }

                img {
                    width: 12px;
                    height: 12px;
                }

                span.cart-item-total {
                    text-align: right;
                    font-size: 1.75rem;
                    font-weight: 800;
                    color: green;

                    i {
                        margin-left: $spacing_md;
                        color: red;
                        float: right;
                        cursor: pointer;
                    }
                }
            }
        }

        form.sidebar-cart {
            height: max-content;
            background-color: $color_primary;
            color: $color_light;
            border-radius: $radius;
            padding: $spacing_lg;

            h2 {
                text-align: center;
            }

            .form_group,
            .form_buttons {
                display: flex;
                flex-direction: column;
                margin: $spacing_md 0px;
            }

            .form_buttons {
                flex-direction: row !important;
                justify-content: space-between;

                button.form_button {
                    background-color: $color_primary;
                    border: 2px solid $color_secondary;
                    border-radius: 35px;
                    color: $color_light;
                    width: 150px;
                    font-size: 1rem;
                    font-weight: 800;
                    cursor: pointer;
                    transition: background-color 250ms ease-in-out,
                                color 250ms ease-in-out;

                    &:hover {
                        background-color: $color_secondary;
                        color: $color_primary;
                    }
                }
            }

            .total_cart {
                display: flex;
                flex-direction: column;

                .total_cart_label {
                    font-style: italic;
                }
                
                .total_cart_amount {
                    color: $color_secondary;
                    font-size: 1.75rem;
                    font-weight: 800;
                }
            }
        }

        div.sidebar-history {
            margin: $spacing_lg 0px;

            h3 {
                color: $color_primary;
                text-align: center;
                margin: $spacing_md 0px;
            }

            ul.list-carthistory > li {
                width: 100%;       
                display: flex;
                flex-direction: column;
                margin-bottom: $spacing_md;
                background-color: white;
                border-radius: $radius;
                padding: $spacing_lg;
                list-style-type: none;
                transition: transform 250ms ease-in-out,
                            box-shadow 250ms ease-in-out;
            }

            ul.list-carthistory > li > div.cart-history-bottom {
                div.cart-history-images {
                    margin: $spacing_md;
                    min-height: 57px;
                }

                div.cart-history-images > img {
                    width: 50px;
                    height: 50px;
                }

                span.cart-history-numitems,
                span.cart-history-total {
                    float: right;
                }

                span.cart-history-numitems {
                    color: $color_meta;
                }

                span.cart-history-total {
                    color: green;
                }
            }
        }
   }
}