#nav {
    width: 100%;
    min-height: 50px; // relative to header's height
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-brand,
    .nav-options {
        height: 50px;
    }

    .nav-brand {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 40px;
            height: 100%;
            margin-right: 8px;
        }

        h2 {
            font-size: 2.25rem;
            color: $color_primary;
        }
    }

    .nav-options {
        display: flex;
        align-items: center;

        input {
            border: none;
            color: $color_primary;
            background-color: transparent;
            border-bottom: 2px solid $color_secondary;
            padding: $spacing_sm 0px;
            text-align: right;
        }
        
        li.nav_item {
            border: 2px solid $color_primary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 35px;
            color: $color_primary;
            font-weight: 800;
            list-style-type: none;
            margin-left: $spacing_lg;
            position: relative;
            cursor: pointer;

            &:last-child {
                border: 2px solid $color_secondary;
                background-color: $color_secondary;
                color: $color_lightmuted;
            }

            #badge {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 5px 10px;
                border-radius: 50%;
                background-color: green ;
                width: 30px;
                height: 30px;
                color: white;
            }
        }
    }

    #nav_departments {
        position: relative;
    }

    .nav-dropdown {
        position: absolute;
        background-color: #f9f9f9;
        top: -10px;
        min-width: 210px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        li {
            list-style-type: none;
            padding: $spacing_sm $spacing_md;
            font-size: small;
            transition: background-color 250ms ease-in-out,
                        color 250ms ease-in-out;

            i {
                width: 15px;
                margin-right: $spacing_sm;
            }

            &:hover {
                background-color: $color_primary;
                color: $color_lightmuted;
            }
        }
    }
}