#departments {
    h2 {
        color: $color_secondary;
    }

    ul#department_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        margin-top: $spacing_md;

        li {
            list-style-type: none;
            height: 160px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color_light;
            border: 1px solid #effeef;
            font-weight: 800;
            color: $color_darkmuted;
            cursor: pointer;
            transition: transform 250ms ease-in-out,
                        box-shadow 250ms ease-in-out;
        }

        li:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 10px -5px;
        }

        li img {
            width: 60px;
            height: 60px;
            margin-bottom: $spacing_sm;
        }

        li p {
            color: $color_meta;
            font-size: small;
            font-weight: 400;
        }
    }
}

// IPAD
@media only screen and (max-width: 768px) {

    #departments {

        ul#department_list {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        ul#department_list li {
            font-size: small;
        }

    }
}

// MOBILE
@media only screen and (max-width: 375px) {
    #departments {
        h2 {
            font-size: 1rem;
        }

        ul#department_list {
            grid-template-columns: 1fr 1fr;
        }
    }
}