#nav {
    width: 100%;
    min-height: 50px; // relative to header's height
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:  background-color 250ms ease-in-out,
                 box-shadow 250ms ease-in-out;

    .nav-brand,
    .nav-options {
        height: 50px;
    }

    .nav-brand {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 40px;
            height: 100%;
            margin-right: 8px;
        }

        h2 {
            font-size: 2.25rem;
            color: $color_secondary;
        }
    }

    .nav-options {
        display: flex;
        align-items: center;

        input {
            border: none;
            color: $color_secondary;
            background-color: transparent;
            border-bottom: 2px solid $color_secondary;
            padding: $spacing_sm 0px;
            text-align: right;

            &:focus {
                outline: none;
            }
        }
        
        li.nav_item {
            border: 2px solid $color_secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 35px;
            color: $color_secondary;
            font-weight: 800;
            list-style-type: none;
            margin-left: $spacing_lg;
            position: relative;
            cursor: pointer;

            &:last-child {
                border: 2px solid $color_secondary;
                background-color: $color_secondary;
                color: $color_lightmuted;
            }

            #badge {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 5px 10px;
                border-radius: 50%;
                background-color: white;
                width: 30px;
                height: 30px;
                color: $color_secondary;
            }
        }
    }

    .nav-options.mobile-nav-options {
        display: none;
    }

    #nav_departments {
        position: relative;
    }

    .nav-dropdown {
        position: absolute;
        background-color: #f9f9f9;
        top: 55px;
        min-width: 210px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        li {
            list-style-type: none;
            padding: $spacing_sm $spacing_md;
            font-size: small;
            transition: background-color 250ms ease-in-out,
                        color 250ms ease-in-out;

            span {
                display: inline-block;
                width: 17px;
                margin-right: $spacing_sm;
            }

            &:hover {
                background-color: $color_secondary;
                color: $color_lightmuted;
            }
        }
    }
}

.nav_shadow {
    height: 50px;
    // prevent reflow when nav becomes fixed
}

.nav_scrolled {
    z-index: 9998;
    background-color: $color_darkmuted;
    box-shadow: $color_darkmuted 0px 4px 12px;
    position: fixed !important;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: $spacing_lg
             ($spacing_lg+$spacing_lg+$spacing_lg+$spacing_lg+$spacing_lg+$spacing_lg+$spacing_lg);

    .nav-brand  {
        h2 {
            color: $color_accent1!important;
        }
    }

    .nav-options {
        input {
            color: $color_lightmuted !important;

            &::placeholder {
                color: $color_accent1;
            }
        }

        li#nav_search, li#nav_departments{
            border: 2px solid $color_accent1 !important;
            color: $color_lightmuted !important;
        }

        li#nav_departments ul.nav-dropdown {
            color: $color_secondary !important;
        }
    }
}

.sidebar_nav {
    transform: translate(100vw);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: $color_darkmuted; 
    overflow-x: hidden;
    padding: $spacing_sm;
    color: $color_accent1;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

    .sidebar_item {
        margin: $spacing_md 0px;
        margin-left: $spacing_lg;

        a {
            margin-right: $spacing_sm;
            text-decoration: none;
            color: $color_accent1;
        }
    }

    .sidebar_item.mobile_search {
        display: flex;
        align-items: center;

        input {
            width: 90%;
            border: none;
            color: $color_accent1;
            background-color: transparent;
            border-bottom: 2px solid $color_secondary;
            padding: $spacing_sm 0px;

            &:focus {
                outline: none;
            }
        }
    }

    .sidebar_item .nav-dropdown-mobile li {
        margin-top: $spacing_md;
        margin-left: $spacing_lg;
        list-style-type: none;

        span {
            margin-right: $spacing_md;
            display: inline-block;
            width: 17px;
        }
    }
}

// IPAD
@media only screen and (max-width: 768px) {

    .nav_scrolled {
        padding: ($spacing_lg) 
                ($spacing_lg+$spacing_lg+$spacing_lg+$spacing_sm); 
    }

    #nav .nav-options li.nav_item {
        width: 35px;
        height: 35px;
    }

    #nav .nav-options li.nav_item #badge {
        top: -20px;
        right: -25px;
        font-size: small;
    }
}

// MOBILE
@media only screen and (max-width: 375px) {
    #nav .nav-options {
        display: none;
    }

    #nav .nav-options.mobile-nav-options {
        display: flex;
    }

    .nav_scrolled  {
        padding: $spacing_sm;
    }
}