#product-route  {
    
    .product-container {
        margin-top: $spacing_md;
        display: flex;

        .product-image-container,
        .product-meta-container {
            padding: $spacing_sm;
            width: 50%;
        }

        .product-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 542px;

            img {
                width: 100%;
                height: auto;
            }

            img.productloader {
                width: 120px;
                height: 120px;
            }
        }

        .product-meta-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                color: $color_primary;
            }

            h3, h3 > span {
                color: $color_secondary;
                font-weight: 400;
            }

            div.status {
                display: flex;

                span {
                    color: $color_darkmuted;
                    padding-right: $spacing_sm;
                    
                    img {
                        width: 15px;
                        height: 15px;
                    }

                }
            }

            .product_quantity,
            .product_actions,
            .product_price {
                margin: $spacing_lg 0px;
            }

            .product_price {
                color:green;
                font-weight: 800;
                font-size: 1.75rem;
            }

            .product_quantity {

                .quantity_add,
                .quantity_minus,
                .quantity_count {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                }

                .quantity_add,
                .quantity_minus {
                    color: white;
                    font-weight: 800;
                    cursor: pointer;
                    border: none;
                    transition: background-color 500ms ease-in-out;

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }

                .quantity_add {
                    background-color: rgb(70, 185, 70);
                }

                .quantity_minus {
                    background-color: rgb(211, 67, 67);
                }

                .quantity_minus_disabled {
                    cursor: not-allowed !important;
                    background-color: rgb(209, 121, 121) !important;
                }

                .quantity_add_disabled {
                    cursor: not-allowed !important;
                    background-color: rgb(131, 185, 131) !important;
                }

                .quantity_label {
                    margin-right: $spacing_md;
                }
                
            }

            .product_actions {
                display: flex;
                justify-content: space-between;
                font-size: 1.25rem;

                button {
                    border: none;
                    min-width: 48%;
                    height: 48px;
                    font-weight: 800;
                    cursor: pointer;
                }

                button.btn_addToCart {
                    background-color: $color_primary;
                    color: $color_light;
                }

                button.btn_buyNow {
                    background-color: $color_secondary;
                    color: $color_lightmuted;
                }
            }

            p {
                text-align: justify;
            }
        }
    }

    .product-container-bottom {
        display: flex;
        
        .similarities-container {
            width: 25%;
        }

        .reviews-container {
            width: 75%;
        }

        .similarities-container,
        .reviews-container {
            padding: $spacing_md;

            h4.headers {
                font-size: 1.25rem;
                margin: $spacing_lg 0px;
                border-bottom: 2.5px solid $color_primary;
            }
        }

        .similarities-container {

            li {    
                background-color: white;
                border-radius: $radius;
                padding: $spacing_lg;
                margin: $spacing_md 0px;
                list-style-type: none;
                width: 100%;       
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                font-size: 0.8rem;
                text-align: left;
                color: $color_darkmuted;
                cursor: pointer;
                transition: transform 250ms ease-in-out,
                            box-shadow 250ms ease-in-out;
                
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 10px 10px -5px;
                }

                &:hover > img {
                    transform: scale(1.1);
                }

                .cardloader-container {
                    width: 100%;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 75px;
                        height: 75px;
                    }
                }

                img {
                    width: 100%;
                    height: 150px;
                    margin-bottom: $spacing_sm;
                    transition: transform 250ms ease-in-out;
                }

                div.productcard-meta {
                    width: 100%;

                    h4 {
                        height: 38px;
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        color: $color_darkmuted !important;
                    }

                    div.productcard-meta-details {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        div.productcard-meta-details-left {
                                display: flex;
                                align-items: center;
                            }

                            span.ratings {
                                display: flex;
                                align-items: center;

                                img {
                                    margin: 0px;
                                    height: 12px;
                                    width: 12px;
                                }
                            }

                            span.type {
                                margin-left: 2.5px;
                                font-size: xx-small;
                                color: $color_meta;
                            }

                            span.price {
                                color: green;
                                font-weight: 800;
                            }
                        }
                }
            }
        }

        .reviews-container {

            .review {
                width: 100%;
                background-color: $color_light;
                margin: $spacing_md 0px;
                padding: $spacing_md;
                border-radius: $radius;
                list-style-type: none;

                div.review-header,
                div.review-body,
                div.review-date {
                    margin-bottom: $spacing_sm;
                }

                div.review-header {
                    display: flex;

                    div.review-header-avatar {
                        margin-right: $spacing_sm;
                        width: 45px;
                        height: 45px;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                
                    div.review-header-meta {
                        
                        span > img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }

                div.review-body {
                    text-align: justify;
                }

                div.review-date {
                    font-style: italic;
                }
            }
        }
    }

}

// IPAD
@media only screen and (max-width: 768px) {
    #product-route {

        .product-container {
            flex-direction: column;

            .product-image-container,
            .product-meta-container {
                width: 100%;
            }

            .product-image-container {
                min-height: 632px;
            }
        }

        .product-container-bottom {
            flex-direction: column-reverse;

            ul.similarities-container,
            ul.reviews-container {
                width: 100%;
            }

            ul.similarities-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 5px;

                h4.headers {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.75rem;
                    text-align: center;
                    color: #802c6e;
                    border-bottom: none;
                }
            }
        }

    }   
}