#slideshow {
  margin:$spacing_lg+$spacing_lg+$spacing_lg 0px;

  .slide {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    img {
      width: 50%;
      height: 500px;
      object-fit: contain;
    }

    p {
      width: 50%;
      text-align: center;
      color: $color_secondary;
      font-weight: 800;
      font-size: 2.5rem;
    }
  }
}

// MOBILE
@media only screen and (max-width: 375px) {
  #slideshow .slide {
    flex-direction: column-reverse;

    img {
      width: 100%;
      height: 100%
    }

    p {
      margin-top: $spacing_sm;
      margin-left: $spacing_sm;
      margin-right: $spacing_sm;
      width: 100%;
      font-size: 1.25rem;
    }
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}